a {
  color: black;
}

a :hover {
  color: black;
}

th {
  text-transform: uppercase;
}
 
nav {
  background-color: lightslategray;
  text-transform: uppercase;
}

.headder {
  background-color: lightseagreen;
}

label {
  padding: 3px;
}

.only {
  float: center;
  
}